<ion-header>
  <ion-toolbar>
    <ion-title>task-display</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ task.title }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div>{{ task.description }}</div>
      
      <ion-badge color="tertiary">{{ task.fkCategory.title }}</ion-badge>
      <div>
        <ion-button color="primary" size="small" [routerLink]="['/task-modify/', task.id]">Modify</ion-button>
        <ion-button color="danger" size="small" (click)="delete(task.id)">Delete</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
